>## Participant
>
Tile = "Mr."

Name = "Mohammad Damoun Dahir"

email = "mohammad.damoun@gmail.com"

whatsapp = "00923335190823"
___

# **Introduction to String, its Components, Manipulation, and Data Structure in Python *(Exercises)***
___

# **Table of Contents** <a class="anchor" id="JNB00"></a>
|       | **SECTION**                              |
|------:|:-----------------------------------------|
| **1** | [String](#JNB01)                         |
| **2** | [String Manipulation](#JNB02)            |
| **3** | [Basic Data Structure in Python](#JNB03) |
| **4** | [Tuple](#JNB04)                          |
| **5** | [List](#JNB05)                           |
| **6** | [Dicitionary](#JNB06)                    |
| **7** | [Set](#JNB07)                            |
| **8** | [End Note](#JNB08)                       |
___

### **1. String** <a class="anchor" id="JNB01"></a>

A string is a data type used in programming, such as an **integer** (1,2,3,4,..) and **floating point unit** (1.,2.,3.,4.,...), but _**is used to represent text rather than numbers**_.

In [ ]:
#Making a string
a = "samoosa pakora"            # This define 'a' as a sting which contains a text inside " "

In [ ]:
a                               # By calling the string 'a', it return the "text" which was stored in it./

#### 1a. Indexing

**Indexing** means referring to an **element** of a string by its position within that string.\
**Element** is a single unit of a data store.

>For example a string **"Pakistan"** has 8 **elements** and Python index them in following sequence
>| Index #     | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 |
>|:------------|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
>| **Element** | P | a | k | i | s | t | a | n |
>
>Notice that indexing starts from Zero and onward -> 0,1,2,3,... and onward

#### Indexing of a String

In [ ]:
a[0]                            # This calls for finding the first element of string 'a'. This is done by string name followed by index # in square bracket

In [ ]:
a[1]                            # Finding the value of element 2 in string 'a'

In [ ]:
a[2]                            # Finding the value of element 3 in string 'a'

In [ ]:
a[13]                            # Finding the value of element 13 in string 'a'

#### 1b. Lenght of the String
This is a simple command to find the length of any defined data string

In [ ]:
# lenght of the index
len(a)

#### 1c. Slicing of the String
This is a simple commmand to call certain part(s) of the data string (Subset of the elements in the string). This can be a single element to a range of elements.

In [ ]:
a[0:7]                              # This recalls the elements from postion 0 to 7 in string 'a'

In [ ]:
a[7]                                # This recalls the elements from postion 7 in string 'a'

In [ ]:
a[8:14]                             # This recalls the elements from postion 8 to 14 in string 'a'

>### Practice to call different sets of elements within a string
> 
>The _**use of minus '-' sign**_ in indexing will make Python count the elements from Far Right to towards the begining of the string

In [ ]:
# If you use minus (-) sign to call a charater in a string, it will start counting and displaying data from left
a[-2]                               #< This is 'r' of a Pakora in the string 'a'

In [ ]:
#This will slice the data from far right position and display the 6 elements to the left of the string from the end
a[-6:]

In [ ]:
a[-6:14]                            #< By adding the total lenght after the colon will also give the same result as above

In [ ]:
a[-6:len(a)]                        #< same as above with a formula to avoid mistake of forgetting the length of the string

In [ ]:
#This will slice the data from far starting position and display the 6 elements to the right of the string
a[:-6]

In [ ]:
a[6:]                               #< Slicing the string from 7th postion until the end of the string

In [ ]:
a[:6]

[^ Top](#JNB00)
___

### **2. String Manipulation** <a class="anchor" id="JNB02"></a>

A string manipulation will be the change in the structure of defined string with basic python commands.

#### Changing every word in the string into uppercase

In [ ]:
print("This is the content of the string before the command:>",a)
a=a.title() #< capitlize each aplhabet of the word in the string
print(a)

#### Changing every word in the string into lowercase

In [ ]:
print("This is the content of the string before the command:>",a)
a=a.casefold() #< will make all the words caseless of the string
print(a)

#### Different commands to verifiy elements or manipulate them

In [ ]:
# 1 Defining new string
food = "123briYani"
food

**Determining the length of the string**

In [ ]:
# Finding the lenght of the string
len(food)

**Capitalizing the first character of a string in to Uppercase**

In [ ]:
# Converting the first charater in to uppercase if applicable
food.capitalize()

**Converting the whole string into Uppercase**

In [ ]:
# Converting the whole string in to uppercase
food.upper()

**Determining the occurrence of specified element in a string**

In [ ]:
# Determining the occurrence of element 'i' in the string 123birYani
food.count("i")

**Searching occurrence of specified element in a string. The command returns the postion of first occurence**

In [ ]:
# Finds first postion of 'i' in 123birYani
# notice counting is from 1 instead of 0 as of indexing
food.find("i")

**Verifing the string ending with certain element**

In [ ]:
food.endswith("i") #<<< verifies that the string ends with 'i'

In [ ]:
food.endswith("a") #<<< verifies that the string ends with 'i'

**Finding postion of certain element in a string**

In [ ]:
food.index("Y")  #<< gives the position of 'y' in '123birYani'

**Converting whole string into lowercase**

In [ ]:
food.lower() #<<< convert the whole string in to lowercase

**Replacing a specific element(s) with a new element(s)**

In [ ]:
food.replace("Y","y")

In [ ]:
food.replace("b","B")

In [ ]:
food.replace("123briY","Biry")

In [ ]:
food.replace("123briY","Shiry")

In [ ]:
# counting a specific letter in a string

name = "baba_aammar with Dr Aammar Tufail"
name

In [ ]:
name.count("a") , name.count("A") #< returns the count of upper and lower case 'a' in the string seprated by ','

In [ ]:
name.count("a") + name.count("A") #< returns the count of upper and lower case 'a' in the string as single digit

**Finding an index number in string**

In [ ]:
name = "baba_aammar with Dr Aammar Tufail"
name

In [ ]:
name.find("Dr") #<< 17 is the starting postion of the string of "Dr"

In [ ]:
name.find("aa") #<< 5 is the starting postion of the string of "aa". Keep in mind that these commands find the postion of first find in the string

**Spliting a string**

In [ ]:
food = "I love samosa, pakora, raita, biryani, and karahi"
food

In [ ]:
food.split(",")  #<< spliting a string based on specific charater, in this case its "comma ','"

[^ Top](#JNB00)
___

### **3. Basic Data Structure in Python** <a class="anchor" id="JNB03"></a>

There are four (4) kinds of data structures used in Python. All have their own usage and are distinguished by their certain characteristics.\
Following are their names:

#### a. Tuple

#### b. List

#### c. Dictionary

#### d. Set

[^ Top](#JNB00)
___

### **4. Tuple** <a class="anchor" id="JNB04"></a>

- Ordered collections of elements
- They are enclosed in round brackets/paranthesis ( ) not in " " as that of strings
- Different kind of elements can be stored
- Once the elements are stored, they cannot be changed (or they are unmutatable)

In [ ]:
tupl01 = (1, "pyhton", True, 2.5)
tupl01

In [ ]:
# type of tuple

type(tupl01)

#### Indexing in Tuple

In [ ]:
tupl01[0]
#notice on call of index, tuple is returning whole value/text rather one element/alphabet in contrast to string

In [ ]:
tupl01[1], tupl01[2], tupl01[3]

In [ ]:
#notice the last element '2.5' is not printed when asked for indexing from 0 to 3
#the reason is that the last element is "exclusive"
#to have it printed, you need to call indexing from 0:4 or higher number at the end

tupl01[0:3]

In [ ]:
tupl01[:4]

In [ ]:
tupl01[-1] #just like in the string index, you can recall the element from the end of the Tuple

In [ ]:
tupl01[-3]

In [ ]:
len(tupl01) # len (lenght) returns the number of elements in Tuple container

In [ ]:
tupl02 = (2, "babaAammar", 3.5, False)
tupl02

#### Concatinate of Tuples (Joining two or more tuples together)

In [ ]:
tupl01 + tupl02 # << this will make tupl01 printed followed by tupl02

#### Concatinate of Tuples and repetition

In [ ]:
tupl01*2 + tupl02 # << this will make tupl01 to be printed twice followed by tupl02

In [ ]:
tupl03 = (20,50,30,60,79,85)
tupl03

In [ ]:
#to find minimum value in Tuple
min(tupl03)

In [ ]:
#to find max value in Tuple
max(tupl03)

In [ ]:
import statistics                   #importing statistical function in notebook

In [ ]:
statistics.median(tupl03)

In [ ]:
statistics.mean(tupl03)

[^ Top](#JNB00)
___

### **5. List** <a class="anchor" id="JNB05"></a>

- Ordered collections of elements
- They are enclosed in square brackets/paranthesis [ ] not in " " as that of strings
- Different kind of elements can be stored
- Once the elements are stored, they can be changed (or they are mutatable) unlike Tuples

In [ ]:
list01 = [2, "babaAammar", False]
list01

#### Trying same functions as we did with Tuples

In [ ]:
type(list01)

In [ ]:
len(list01)

In [ ]:
list01[2]

In [ ]:
list02 = [3, 5, "Aammar", "Codanics", 478, 53.2, False]
list02

In [ ]:
list01 + list02

In [ ]:
list01*2

In [ ]:
list01 = [2, "babaAammar", False]
list01

In [ ]:
list01.reverse()  #<<<< Reverse the list01
list01

In [ ]:
list01.append("Codanics Youtube Channel")  #<<<<< Append new data in the list
list01

In [ ]:
list01.pop(-1)
list01

In [ ]:
list01.insert(0,"Damoun")
list01

In [ ]:
list01.insert(1, "learning")
list01

In [ ]:
list01.insert(2,"python")
list01

In [ ]:
list01.remove(2) #< give the option to remove any value (number) in the list 
list01

In [ ]:
list01.count(2) #< as we have already removed the value 2 from the list, it is verified with count function that there is no #2 left

In [ ]:
list03 = [20, 30, 35, 50, 40, 12, 15, 11, 10, 356, 56, 886]
list03

In [ ]:
len(list03)

In [ ]:
# sorting a list

list03.sort(reverse=False)   # < ascending
list03

In [ ]:
list03.sort(reverse=True)   # < decending
list03

In [ ]:
lists= list01 + list02 + list03
lists

[^ Top](#JNB00)
___

### **6. Dicitionary** <a class="anchor" id="JNB06"></a>

- Its an unordered collections of elements
- Each elements have 2 components. 1. Key and 2. Value
- They are enclosed in curly brackets/paranthesis { } not in " " as that of strings
- Different kind of elements can be stored
- Once the elements are stored, they can be changed (or they are mutatable)like the "list"

In [ ]:
# food and their prices

food1 = {"Samosa":30, "Raita":20,"Pakora":100, "Salad":50, "Chicken Rolls":30}
food1

In [ ]:
type(food1) #< The 'type' returns the type of data. In this case, its dictionary

In [ ]:
len(food1) #< returns the number of elements in the dicitionary

In [ ]:
# extract data

keys1 = food1.keys()
keys1

In [ ]:
# extract values
values1 = food1.values()
values1

In [ ]:
# adding a new element in the dictionary
# for that we are treating the dictionary as a 'list' using [] and then equating a value to it as example below

food1["Tikki"] = 10
food1

In [ ]:
# Updating the value using the above method for Tikki to change the price of the 'Key' with its new 'Value'

food1["Tikki"] = 15
food1

In [ ]:
food2 = {"Dates":50, "Chocolates":200, "Swayyan":1000}
food2

In [ ]:
# Concatinate ; keep in mind that in dictionary mode, we cannot use "+" sign to join two dictionary
food1.update(food2) # < we use update function available for 'dictionary' for concatinating two dictionaries
food1

[^ Top](#JNB00)
___


### **7. Set** <a class="anchor" id="JNB07"></a>

- Its an unordered and unindexed collections of elements
- They are enclosed in curly brackets/paranthesis { } just like the 'dictionary'
- No duplicates are allowed

In [ ]:
s1 = {1, 2.2, 5.2, "Aammar", "Codanics","Faisalabad", True}
s1                       #< notice the Boolean operator 'True' cannot be added as calling s1 will not show 'True'

In [ ]:
type(s1) #< Python automatically identify 'set' as it lacks the key and value structure

In [ ]:
# to update/add to the 'set'

s1.add("Aammar") #< notice that even though we asked to add 'Aammar' to the set, since the element already exisit it gets ignored without error
s1

In [ ]:
# to update/add to the 'set'

s1.add("Aammar1")
s1

In [ ]:
# To remove an entry from the 'set'

s1.remove("Aammar1")
s1

[^ Top](#JNB00)
___

>## END NOTE:  <a class="anchor" id="JNB08"></a>
>### Summary of Activties been Performed
>
>1. Learned the concept of a "**string**" and **elements** in **Python 3**.
>2. Learned the concept of **indexing** and **slicing** of a string and how to perform it.
>3. Learned how to **manipulate** a string using available commands and functions in Pyhton.
>4. Learned the **four (4) Data Structures** in Python, namely **Tuple**, **List**, **Dictionary**, and **Set**.
>5. Applied the functions and command learned on data structures created in Tuple, List, Dictionary, and Set format.
>
> This document is just a summarized reflection of actual work been performed at one place.\
> Other versions and practice files might exist.
>
>`End of the Document`

[^ Top](#JNB00)
___